h2 {
	font-family: 'Prosto One', cursive;
}
img {
	margin: 10px;
	border:2px solid #6390BF;
}
footer {
	font-size:10px;
}

#credit {
	display:inline;
	float:right;
}

#save {
	display:inline;
	overflow:auto;
}

#description {
	font-size:14px;
	font-weight:bold;
	margin-left:10px;
}

#display {
	margin-top:25px;
}

footer {
	border-top:1px solid lightgrey;
}